@model List<LunchList.Models.Grocery_lists>

<h2>Grocery List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
            </tr>
        }
    </tbody>
</table>

