@model List<GroceryList>

@{
    ViewData["Title"] = "Grocery Lists";
}

<h2>Grocery Lists</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created</th>
        <th>Done</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var list in Model)
    {
        <tr>
            <td>@list.Id</td>
            <td>@list.Name</td>
            <td>@list.Created_At.ToString("yyyy-MM-dd")</td>
            <td class="justify-content-center">
                @if (list.Is_Done == 1)
                {
                    <span class="badge bg-success">Yes</span>
                }
                else
                {
                    <span class="badge bg-secondary">No</span>
                }
            </td>
            <td class="d-flex justify-content-center">
                <form method="post" asp-controller="History" asp-action="Details">
                    <input type="hidden" name="id" value="@list.Id">
                    <button type="submit" class="btn btn-secondary btn-sm">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>